.password-container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-group {
    margin-top: 15px;
    width: 100%;
    .label {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 5px;
    }
}

.saveButton {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 50px;
}