<div class="password-container">
  <form [formGroup]="editPasswordForm" (ngSubmit)="update()">

    <div class="form-group">
      <div class="label">Aktualne hasło</div>
      <mat-form-field class="form-group" appearance="outline">
        <input matInput formControlName="oldPassword" [type]="oldPasswordVisible ? 'text' : 'password'">
        <mat-icon matSuffix (click)="oldPasswordVisible = !oldPasswordVisible">{{oldPasswordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="editPasswordForm.get('oldPassword').hasError('required')">
          Podaj aktualne hasło
        </mat-error>
        <mat-error *ngIf="editPasswordForm.get('oldPassword').hasError('pattern') && !editPasswordForm.get('oldPassword').hasError('required')">
          Hasło musi mieć co najmniej 8 znaków, co najmniej 1 dużą literę, co najmniej 1 małą literę i co najmniej 1 znak specjalny
        </mat-error>
      </mat-form-field>

    </div>

    <div class="form-group">
      <div class="label">Nowe hasło</div>
      <mat-form-field class="form-group" appearance="outline">
        <input matInput formControlName="newPassword" [type]="newPasswordVisible ? 'text' : 'password'">
        <mat-icon matSuffix (click)="newPasswordVisible = !newPasswordVisible">{{newPasswordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="editPasswordForm.get('newPassword').hasError('required')">
          Podaj nowe hasło
        </mat-error>
        <mat-error *ngIf="editPasswordForm.get('newPassword').hasError('pattern') && !editPasswordForm.get('newPassword').hasError('required')">
          Hasło musi mieć co najmniej 8 znaków, co najmniej 1 dużą literę, co najmniej 1 małą literę i co najmniej 1 znak specjalny
        </mat-error>
      </mat-form-field>

    </div>

    <div class="form-group">
      <div class="label">Powtórz nowe hasło</div>
      <mat-form-field class="form-group" appearance="outline">
        <input matInput formControlName="newPasswordRepeat" [type]="newPasswordRepeatVisible ? 'text' : 'password'">
        <mat-icon matSuffix (click)="newPasswordRepeatVisible = !newPasswordRepeatVisible">{{newPasswordRepeatVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="editPasswordForm.get('newPasswordRepeat').hasError('required')">
          Podaj nowe hasło
        </mat-error>
        <mat-error *ngIf="editPasswordForm.get('newPasswordRepeat').hasError('pattern') && !editPasswordForm.get('newPasswordRepeat').hasError('required')">
          Hasło musi mieć co najmniej 8 znaków, co najmniej 1 dużą literę, co najmniej 1 małą literę i co najmniej 1 znak specjalny
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="!areNewPasswordsEqual() && !editPasswordForm.get('newPasswordRepeat').hasError('required') && !editPasswordForm.get('newPasswordRepeat').hasError('pattern') 
        && !editPasswordForm.get('newPassword').hasError('required') && !editPasswordForm.get('newPassword').hasError('pattern')">
        Pola z nowym hasłem nie są zgodne
      </mat-error>
    </div>


    <div class="form-group">
      <button class="saveButton" mat-raised-button color="primary" type="sumbit" [disabled]="!editPasswordForm.valid || !areNewPasswordsEqual()">
        Zapisz
      </button>
    </div>

  </form>
</div>