<div class="element">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <div class="header-container">
        <div mat-card-avatar class="person-icon" *ngIf="!hasImage()">
          <mat-icon class="icon-img ">person</mat-icon>
        </div>
        <img [src]="order.photoUrls[0]" mat-card-avatar class="photo-image" *ngIf="hasImage()">
<!--        <button class="order-button" *ngIf="addOrderButtonVisible()" mat-raised-button color="primary" (click)="navigateToAddOrder()">-->
<!--          <mat-icon class="ordering">calendar_today</mat-icon>-->
<!--          <span>Złóż zgłoszenie</span>-->
<!--        </button>-->
      </div>
      <div class="details-container">
        <div class="titles">
          <mat-card-title>{{order.subcategoryName}}</mat-card-title>
          <mat-card-subtitle>{{order.categoryName}}</mat-card-subtitle>
          <div>
            <div>
              <span class="opinions-count">({{order.description}}</span>
            </div>
          </div>
        </div>
      </div>

    </mat-card-header>
  </mat-card>
</div>
