<div class="list">
  To jeszcze nigdy nie było tak proste!
  <div class="elements">
    <div>
      <mat-icon>check</mat-icon>
      Wybierz spośród naszych specjalistów
    </div>
    <div>
      <mat-icon>check</mat-icon>
      Przeglądaj opinie innych użytkowników
    </div>
    <div>
      <mat-icon>check</mat-icon>
      W wyborze pomogą Ci opinie innych
    </div>
    <div>
      <mat-icon>check</mat-icon>
      Wybierz odpowiadającą Ci usługę, złóż zamówienie i czekaj na oferty od specjalistów
    </div>
  </div>
</div>