.info-container {
    width: inherit;
    height: inherit;
    margin: inherit;
}

.mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.text-info {
    margin-left: 10px;
    font-size: 17px;
}