<div class="list">
  Dołącz do Fixit i zarabiaj więcej! Dołączenie jest naprawde proste!
  <div class="elements">
    <div>
      <mat-icon>check</mat-icon>
      Rejestracja jest darmowa
    </div>
    <div>
      <mat-icon>check</mat-icon>
      Po zarejestrowaniu powiedz nam jakie usługi świadczysz
    </div>
    <div>
      <mat-icon>check</mat-icon>
      Uzupełnij swoje dane
    </div>
    <div>
      <mat-icon>check</mat-icon>
      Otrzymuj zlecenia
    </div>
    <div>
      <mat-icon>check</mat-icon>
      Zarabiaj i zdobywaj kolejnych klientów
    </div>
    <div>
      <mat-icon>check</mat-icon>
      Otrzymuj opinie i zwiększaj swoje zaufanie
    </div>
  </div>
</div>