.container {
    width: 100%;
}

.subcategories {
    margin-left: 20px;
    margin-top: 10px;
    .subcategories-element {
        margin-top: 8px;
    }
}

.title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}