<div class="list">
  Dołącz do grona użytkowników premium i zarabiaj jeszcze więcej! Już za 49.99 zł miesięcznie!
  <div class="elements">
    <div>
      <mat-icon>check</mat-icon>
      Będziesz otrzymywał jako pierwszy zlecenia
    </div>
    <div>
      <mat-icon>check</mat-icon>
      Twoje konto będzie sie cieszyło większym zaufaniem
    </div>
    <div>
      <mat-icon>check</mat-icon>
      W każdej chwili możesz anulować subskrypcję
    </div>
    <div>
      <mat-icon>check</mat-icon>
      W cenie zaledwie 49.99 / miesięcznie brutto
    </div>
  </div>
</div>
